.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.head-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}